<h1>Users#index</h1>
<table>
  <thead>
    <th>Username</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to 'Create User', new_user_url, method: :get %>
